:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  color: #389ae0;
  text-decoration: inherit;
  padding: 0.5em .75em;

}

a:hover {
  border-radius: 10px;
  font-family: inherit;
  background-color: #e4eced;
  color: #1d547b;
  cursor: pointer;
  transition: background-color 0.15s;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  line-height: 1;
  margin: .25em;
}

button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.5em .5em;
  margin: 5px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ced5d6;
  cursor: pointer;
  transition: background-color 0.15s;
}

button:hover {
  background-color: #e4eced;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* ^ preset react styling  --- V personal styling */

#navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  padding: 1em;
  align-items: center;
  position: sticky;
  padding: 10px 20px;
  height: 2em;
}

#taskSearch {
  width: 70vw;
  border: solid grey 1.5px;
  border-radius: 10em;
  padding: .5em 1em;
  margin: 1em 0;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.06);
}

.mainTable {
  place-items: center;
  width: 80vw;
}

#taskStatus {
  width: 5vw;
}

#taskTitle {
  width: 20vw;
  text-align: left;
  margin: 0 2vw;
}

#taskDeadline {
  width: 8vw;
}

#taskActions {
  width: 6vw;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.deleteError,
.createError {
  background-color: red;
  color: white;
  text-align: center;
  width: 30vw;
  padding: 1em;
  margin: .5em auto;
  border-radius: 20px;
}

#groupusers {
  font-size: smaller;
  font-style: italic;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: #389ae0;
  transition: color 0.15s;
}

.formshow {
  margin: 0 0 1rem 0;
}

#SingleTask,
#userTasks {
  border-style: double;
  border-radius: 15px;
  padding: 1em;
  background-color: #3e78a1;
  color: white;
}

#userTasks>.clickable:hover {
  color: #c0d2df;
}

h1,
h2,
h4 {
  margin: .25em 0 1em 0;
}

#requiredfield {
  margin: 0;
  padding: 0;
  font-size: smaller;
}

form>input,
select {
  border-radius: 5px;
  border-width: 1px;
  width: 10rem;
  height: 1.5rem;
  padding: 0 2px;
  margin: .2rem;
  font-family: inherit;
  box-sizing: inherit;
}

label {
  display: inline-block;
  text-align: right;
  width: 6rem;
}

svg {
  vertical-align: bottom;
  margin: 1px 1px;
}

.iconButton {
  border-radius: 10rem;
  background-color: #389ae0;
  color: white;
}

.iconButton:hover {
  background-color: #236695;
}