:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #389ae0;
  text-decoration: inherit;
}
a:hover {
  color: #4af898;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  margin: .25em;
}

button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.5em .5em;
  margin: 5px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #84f9fd;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* ^ preset react styling  --- V personal styling */

#navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  padding: 1em;
  align-items: center;
  position: sticky;
  padding: 10px 30px 10px 20px;
  height: 2em;
}

#taskSearch {
  width: 70vw;
  border: solid grey 1.5px;
  border-radius: 10em;
  padding: .5em 1em;
  margin: 1em 0;
}

.mainTable {
  place-items: center;
  width: 80vw;
}

#taskStatus {
  width: 5vw;
}

#taskTitle {
  width: 20vw;
  text-align: left;
  margin: 0 2vw;
}

#taskDeadline{
  width: 8vw;
}

#taskActions{
  width: 6vw;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.deleteError{
  background-color: red;
  color: white;
  padding: .25em;
  margin: .25em;
  border-radius: 20em;
}